*/__pycache__/*
*.pyc
*.idea/*
cpp/build/*
results/*
*.pdf
scripts/*
plot_odometry.py
stats.py
config/oxford1.json
config/pre2160.json
config/pre2592.json
plot_buddies.py
vis_radar.py
convert_to_txt.py
plot_errs.py
plot_errs2.py
test_kitti.py
get_vel_sigma.py
models/*
*.pt
