*/__pycache__/*
*.pyc
*.idea/*
cpp/build/*
results/*
bin/
google/
numpy-1.19.5.dist-info/
numpy.libs/
numpy/
protobuf-3.14.0-py3.6-nspkg.pth
protobuf-3.14.0.dist-info/
six-1.15.0.dist-info/
six.py
tensorboardX-2.1.dist-info/
tensorboardX/
PIL/
Pillow-8.0.0.dist-info/
Pillow.libs/
PySocks-1.7.1.dist-info/
certifi-2020.12.5.dist-info/
certifi/
chardet-4.0.0.dist-info/
chardet/
cycler-0.10.0.dist-info/
cycler.py
dateutil/
filelock-3.0.12.dist-info/
filelock.py
gdown-3.12.2.dist-info/
gdown/
idna-2.10.dist-info/
idna/
kiwisolver-1.3.1.dist-info/
kiwisolver.cpython-36m-x86_64-linux-gnu.so
matplotlib-3.2.0-py3.6-nspkg.pth
matplotlib-3.2.0.dist-info/
matplotlib/
mpl_toolkits/
numpy-1.18.0.dist-info/
pylab.py
pyparsing-2.4.7.dist-info/
pyparsing.py
python_dateutil-2.8.1.dist-info/
requests-2.25.1.dist-info/
requests/
socks.py
sockshandler.py
tqdm-4.56.2.dist-info/
tqdm/
urllib3-1.26.3.dist-info/
urllib3/
Markdown-3.3.3.dist-info/
Werkzeug-1.0.1.dist-info/
_distutils_hack/
absl/
absl_py-0.11.0.dist-info/
cachetools-4.2.1.dist-info/
cachetools/
distutils-precedence.pth
google_auth-1.26.1-py3.9-nspkg.pth
google_auth-1.26.1.dist-info/
google_auth_oauthlib-0.4.2.dist-info/
google_auth_oauthlib/
grpc/
grpcio-1.35.0.dist-info/
importlib_metadata-3.4.0.dist-info/
importlib_metadata/
markdown/
oauthlib-3.1.0.dist-info/
oauthlib/
pkg_resources/
pyasn1-0.4.8.dist-info/
pyasn1/
pyasn1_modules-0.2.8.dist-info/
pyasn1_modules/
requests_oauthlib-1.3.0.dist-info/
requests_oauthlib/
rsa-4.7.dist-info/
rsa/
setuptools-53.0.0.dist-info/
setuptools/
tensorboard-2.4.1.dist-info/
tensorboard/
tensorboard_job
tensorboard_plugin_wit-1.8.0.dist-info/
tensorboard_plugin_wit/
typing_extensions-3.7.4.3.dist-info/
typing_extensions.py
werkzeug/
wheel-0.36.2.dist-info/
wheel/
zipp-3.4.0.dist-info/
zipp.py
*.pdf
config/run*.json
scripts/*
plot_odometry.py
stats.py
config/oxford1.json
config/pre2160.json
config/pre2592.json
plot_buddies.py
vis_radar.py
convert_to_txt.py
plot_errs.py
test_kitti.py
